sudo: required

language: python
python:
  - 3.6

services:
  - docker

os:
  - linux

env:
  global:
    - RELEASE_NAME="application-name-here"
    - DJANGO_APP="django-project-name-here"
    - COMMIT_HASH="$(git rev-parse --short=7 HEAD)"
    - IMAGE_TAG="${RELEASE_NAME}:${COMMIT_HASH}"
    - DEPLOY_SCRIPT_BASE=https://raw.githubusercontent.com/uw-it-aca/gcp-app-deploy/master
    - secure: <per-repository travis encrypted "DOCKER_USER=<username-here>">
    - secure: <per-repository travis encrypted "DOCKER_PASS=<docker-password-here>">
    - secure: <per-repository travis encrypted "GH_AUTH_TOKEN=<github-auth-token-here>">

install:
  - docker build -t "$IMAGE_TAG" .

before_script:
  - pip install coverage
  - pip install coveralls

script:
  - docker run -u root -it -v /tmp:/coverage -e DJANGO_APP="$DJANGO_APP" "$IMAGE_TAG" bash -c ". ./travis-ci/test.sh"

after_success:
  - cp /tmp/.coverage.* .
  - coverage combine
  - coveralls


deploy:
  - provider: script
    skip_cleanup: true
    on:
      branch: master
      condition: $TRAVIS_PULL_REQUEST == "false"
    script: >-
      curl -Ls ${DEPLOY_SCRIPT_BASE}/travis-ci/deploy.sh | bash
  - provider: script
    skip_cleanup: true
    on:
      branch: dev
      condition: $TRAVIS_PULL_REQUEST == "false"
    script: >-
      curl -Ls ${DEPLOY_SCRIPT_BASE}/travis-ci/deploy.sh | bash
